button.Quote {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: 0.8em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.half {
  @media (max-width: 768px) {
    display: none;
  }
}

.body {
  font-size: 18px;
  line-height: 200%;
}

button.Quote:hover {
  background-color: #d44457;
}

.color {
  background: #b92c2c;
  color: #fff;
}

.background {
  background: url('https://picsum.photos/400/400');
  background-color: #f2f2f2;
  color: rgb(102, 101, 101);
}

.s {
  background: #fafafa;
}

.big {
  font-weight: 300;
  font-size: 2.5rem;
}

.txtcolor {
  font-weight: 700;
  color: #b92c2c;
}

.serveColor {
  color: #b92c2c;
}

.startUp {
  -webkit-font-smoothing: antialiased;
}

.grey {
  color: white;
  background: #333;
}

.profilePicture {
  width: 435px;
  height: 290px;
}

.light {
  background: #f2f2f2;
}

.g {
  padding: 4rem;
  background: #333;
  color: white;
}

.white {
  background: white;
  color: Black;
}

.smaller {
  font-size: 24px;
  font-weight: 100;
}

.featured {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btnGrey {
  display: inline-block;
  background-color: darkslategray;
  color: #fff;
  position: relative;
  bottom: 20px;
  border: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: rgba(128, 128, 128, 0.699);
  }
}

.foundersBlock {
  padding-top: 1em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nameTag {
  display: block;
  position: relative;
  bottom: 41px;
  background-color: rgba(51, 51, 51, 0.8);
  width: 100%;
  color: white;
  font-size: 0.9rem;
}

.founderstitle {
  letter-spacing: 0.5rem;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding-top: 1em;
  max-width: 85vw;
}

.foundersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteTitle {
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  text-align: center;
}

// .backImage {
//   // width: 150px;
//   // height: 150px;
//   background-size: 110% 120%;
//   height: 100%;
//   // background: red;
//   background-image: url('https://labs.chiedo.com/case-studies/bartrack/bar-track/');
// }

.backText {
  visibility: hidden;
  opacity: 0;
}

.backText:hover {
  visibility: visible;
  opacity: 1;
  background: red;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(243, 37, 88, 0.664);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 3em;

  /* transition effect. not necessary */
  // transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.smallText {
  font-size: 11px;
}
