button.Quote {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: 0.8em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.body {
  font-size: 18px;
  line-height: 200%;
}

button.Quote:hover {
  background-color: #d44457;
}

.color {
  background: #B92C2C;
  color: #fff;
}

.background {
  background: url('https://picsum.photos/400/400'); 
  background-color: #f2f2f2;
  color: rgb(102, 101, 101);
}

.s {
  background: #fafafa;
}

.txtcolor {
  font-weight: 700;
  color: #B92C2C;
}

.btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  box-shadow: 3px 3px rgba(125,125,125,0.2);
  background-color: #B92C2C;

  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}

.serveColor {
  color: #B92C2C;
}

.grey {
  color: white;
  background: #333;
}

.profilePicture{
  width: 435px;
  height: 290px;
}

.light {
background: #f2f2f2;
}

.g {
  padding: 4rem;
  background: #333;
  color:white;
}

.white{
  background: white;
  color: Black;
}

 .smaller {
  font-size: 24px;
}

.featured {
  text-align: center;
}
