.button {
  width: 200px;
}

.moreLinks {
  text-align: center;
  background-color: grey;

  ul {
    padding-top: 3em;
    list-style-type: none;
  }
}

.ourFounder {
  color: white;
  padding: 2rem;
  align-items: flex-start;
}

.redText {
  font-weight: 2.5rem;
  color: #b92c2c;
}

.background {
  background-color: #333;
  color: white;
}
