// Color:
$blue: #40bbdc;
$offWhite: #f1f1f2;

// Font:
$defaultFont: 'Roboto', sans-serif;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

// Break Points:
$MOBILE: 576px;
$TABLET: 768px;
$LAPTOP: 992px;
$DESKTOP: 1200px;

// Other re-usables:
$defaultPadding: 30px;
