._1pyeb5j8j7LsWS0MbUtUYx {
  overflow-x: hidden; }

button._2qENJ6cC0KaLubofBLnp9k {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: 0.8em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

@media (max-width: 768px) {
  ._3NIIf8TKC6ZRdmsyFGRQgp {
    display: none; } }

._3Qd7JbQWPAfI0k4A0h0Kje {
  font-size: 18px;
  line-height: 200%; }

button._2qENJ6cC0KaLubofBLnp9k:hover {
  background-color: #d44457; }

._1yLrqTVToOWMZMk7szLdbS {
  background: #b92c2c;
  color: #fff; }

._3aCTiI7PNeGrE3nRVJ4pm9 {
  background: url("https://picsum.photos/400/400");
  background-color: #f2f2f2;
  color: #666565; }

._2UwOXF3B47sA5-zoQpYBBp {
  background: #fafafa; }

._23EBy2rMCYDjZzXqXmvkQu {
  font-weight: 700;
  color: #b92c2c; }

._3NDInCUcrgGppIU1JZelPz {
  color: #b92c2c; }

._2BOZonICbPxEVI2oDjlZBj {
  font-weight: 100; }

._1oXw101geW-SbgKwtCVhxI {
  color: white;
  background: #333; }

._3MV9nGUs2BPPiDnNzxmx1r {
  width: 435px;
  height: 290px; }

._3q28cQ8IOPn3Qm8u_Lkngf {
  background: #f2f2f2; }

._5CHjgmzEWjl_ZOfzhknVK {
  padding: 4rem;
  background: #333;
  color: white; }

.PsIb7epaOVWIR4PcLY_mn {
  background: white;
  color: Black; }

._9CV3PmOGZrWxt0nVjxUf7 {
  font-size: 24px;
  font-weight: 100; }

._3SalghDt7hl3Sy8RW5upsi {
  text-align: center; }

._8DVUyf779fZQvU-sby_eU {
  display: inline-block;
  padding: 1.2em 1.4em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.ozsCQjIIXDXNbkQD2X5zd {
  display: inline-block;
  background-color: darkslategray;
  color: #fff;
  position: relative;
  bottom: 20px;
  border: none; }
  .ozsCQjIIXDXNbkQD2X5zd:focus {
    outline: 0; }
  .ozsCQjIIXDXNbkQD2X5zd:hover {
    background-color: rgba(128, 128, 128, 0.699); }

._2AYUeJfMo_OhgOM33dql6W {
  padding-top: 1em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

._3dPd1lXQ7_4hnyF32IKwiO {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

._1uALebq4FvBdmTXULEQ7Yk {
  display: block;
  position: relative;
  bottom: 41px;
  background-color: rgba(51, 51, 51, 0.8);
  width: 100%;
  color: white;
  font-size: 0.9rem; }

._1A6vlZfLwDnMBffuPluYGE {
  letter-spacing: 0.5rem;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding-top: 1em;
  max-width: 85vw; }

._2xN1uHpIqlcexyn30Ek4Xb {
  display: flex;
  flex-direction: column;
  align-items: center; }

._1Ge5CvNQan41K7Hh2eajb2 {
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  text-align: center; }

/*
 * Inverted Colors
 */
/* Mixin to prefix several properties at once
 * @author Hugo Giraudel
 * Shouldn't need after autoprefixer
 * @param {Map} $declarations - Declarations to prefix
 * @param {List} $prefixes (()) - List of prefixes to print
 * usage: @include prefix((border-radius: 5px), webkit moz);
 */
/**
 * calculates size relative to document root with px fallback
 */
/**
 * font-size mixin with fallback
 */
/**
 * line-height mixin with fallback
 */
/**
 * Dynamic Media Queries
 * Allow in-line media queries
 * usage:
 *  .selector { width: 100%;
 *    @include respond(768px) { width: 30%; }
 *    @include respond(768px, 'down') { width: 100%; }
 *  }
 */
button._3aBJEmPf2LWj6mc5V62Bmu {
  border: none;
  display: inline-block;
  padding: 1.2em 1.4em;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.2);
  background-color: #b92c2c;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }
  button._3aBJEmPf2LWj6mc5V62Bmu:focus {
    outline: 0; }
  button._3aBJEmPf2LWj6mc5V62Bmu:hover {
    background: #d44b44; }
    button._3aBJEmPf2LWj6mc5V62Bmu:hover._35cw_jja-AWk3kyIcTVnnT {
      background: grey; }

._1IuFaOheI40Af4GZU3DhJv {
  font-size: 1.2em;
  background: #333;
  padding: 6rem; }

._2YAKx4cvop9xo9frdPRyLN {
  color: #b92c2c;
  font-weight: bold;
  margin-bottom: 0; }

._1WssmQ1_Y99DK8F0UWWZYc {
  font-size: 2.25em;
  color: white;
  font-weight: 150;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  -webkit-font-color: red; }

/*
 * Inverted Colors
 */
/* Mixin to prefix several properties at once
 * @author Hugo Giraudel
 * Shouldn't need after autoprefixer
 * @param {Map} $declarations - Declarations to prefix
 * @param {List} $prefixes (()) - List of prefixes to print
 * usage: @include prefix((border-radius: 5px), webkit moz);
 */
/**
 * calculates size relative to document root with px fallback
 */
/**
 * font-size mixin with fallback
 */
/**
 * line-height mixin with fallback
 */
/**
 * Dynamic Media Queries
 * Allow in-line media queries
 * usage:
 *  .selector { width: 100%;
 *    @include respond(768px) { width: 30%; }
 *    @include respond(768px, 'down') { width: 100%; }
 *  }
 */
._259SvoHPWcmCpbvN4qgw8i {
  color: white;
  font-weight: 70; }

@media screen and (max-width: 768px) {
  ._3zRvZt4bKHQA58KN6ODMEp {
    background: black;
    border-bottom: 3px #b92c2c solid; } }

._2XrznVIor3lYhh-g6u05Q1 {
  background: #333;
  text-align: center;
  border-bottom: 3px #b92c2c solid;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 768px) {
    ._2XrznVIor3lYhh-g6u05Q1 {
      border-bottom: none; } }

button._1HG70_ZZ3gStjBJOWLbh69 {
  border: none;
  cursor: pointer; }
  button._1HG70_ZZ3gStjBJOWLbh69:focus {
    outline: 0; }

._1SErXOyq85b90yJ9OU4CQ {
  color: white; }
  ._1SErXOyq85b90yJ9OU4CQ:hover {
    color: #acacac;
    text-decoration: none; }

._3PRClz9-XvAzVR1M9OCWHD {
  font-size: 80px;
  width: 100vw;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer; }

._13bsm1HzsWYHnXzvkeKEsD {
  font-size: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }

._3E1ThHZrQit7AZgkmqzaO6 {
  background: #707070;
  color: white; }
  @media screen and (max-width: 1170px) {
    ._3E1ThHZrQit7AZgkmqzaO6 {
      display: none; } }

._3hSuKDtnQmZnURJEzjV4Lr {
  padding: 2.5rem;
  text-align: center;
  background-color: #000; }

._1ZcNE1HuKsuuD-UJ9YRn1 img {
  width: 225px;
  height: 60.3px; }

._177Tbh6rrBZ6oPH7rrl9w1 {
  width: 200px; }

._22AUZjHOqU5OvhJUdG0SN6 {
  text-align: center;
  background-color: #e2e2e2;
  color: black; }
  ._22AUZjHOqU5OvhJUdG0SN6 ul {
    padding-top: 3em;
    list-style-type: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

._3uC1_GFSrlQxRDNeEhDAm {
  padding: 2rem;
  align-items: flex-start; }

._1qEblZdoI9D-viiH2_ygfl {
  font-size: 2.5em;
  font-weight: 900;
  color: #b92c2c;
  margin-bottom: 50px; }

._2sqdF8OI95gCtrY1_7dLOT {
  background-color: #333;
  color: white; }

._1SR7Y4xBQ5ViKK_c1GtHlr {
  font-size: 2.5em;
  color: #fff;
  font-weight: 300;
  text-transform: initial;
  -webkit-font-smoothing: antialiased; }

.ypKt6bnnV4tj5mY0scEBA {
  color: #ccc;
  background: #111;
  text-align: center;
  font-weight: 100; }
  @media screen and (max-width: 768px) {
    .ypKt6bnnV4tj5mY0scEBA {
      display: none; } }

.EJSrMrd3SL1KJbH-2kTTi {
  font-weight: 100;
  letter-spacing: 0.05em;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.507); }

._2OXhu9Adffo9hKcR8ts8gp {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
  font-family: "Open Sans", sans-serif; }

._3TkIyHLJGLuqgTBBO0uplD {
  color: #b92c2c; }


/*# sourceMappingURL=styles.chunk.css.map*/