.inner {
  font-size: 1.2em;
  // margin: auto;
  // overflow: hidden;
  background: #333;
  // color: #fff;
  // padding: 100px 0;
  padding: 4rem;
}

.color {
  color: #b92c2c;
  font-weight: bold;
  margin-bottom: 0;
}

.skinny {
  font-size: 2.25em;
  color: white;
  font-weight: 150;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  -webkit-font-color: red;
}
