.C {
  background: #333;
 text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .C {
    display: none;
    // padding: 10px 3%;
    background: #333;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;

  }
}

.gay {
  background: white;
  border: 0;
}

.S {
  background: black;
  text-decoration-color: white;
  border-bottom: 3px #B92C2C solid;
  text-shadow: 1px 1px white;
}

.P {
  color: red;
}

.callMain{
  font-size: 80px;
  width: 100vw;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;

  text-shadow: 1px 1px black;
}
.btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  box-shadow: 3px 3px rgba(125,125,125,0.2);
  background-color: #B92C2C;

  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;


}
.callBody {
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 23px;
  text-align: center;
}

.hide {
  background: rgb(112, 112, 112);
  color: white;
@media screen and (max-width:1170px){
  display:none;
    }
  }


    .ourTeam {
      background-color:  #333;;
      color: white;
      // @include centeredContent;
      min-height: 48vh;
      .team {
        display: flex;
        flex-direction: column;
      }
      .buildAndMaintain {
        font-size: 1.2em;
        color: red;
        font-weight: bold;
      }
      span {
        padding: 0em .7em 0 .7em;
      }
    }
