@import '~baseSass/variables.scss';
@import '~baseSass/mixins.scss';

$red: #b92c2c;

.white {
  color: white;
  font-weight: 70;
}

.div {
  @media screen and (max-width: 768px) {
    background: black;
    border-bottom: 3px #b92c2c solid;
  }
}

.navBar {
  background: #333;
  text-align: center;
  border-bottom: 3px #b92c2c solid;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 768px) {
    border-bottom: none;
  }
}

button.logo {
  border: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.aWhite {
  color: white;

  &:hover {
    color: rgb(172, 172, 172);
    text-decoration: none;
  }
}

.mainTitle {
  font-size: 80px;
  width: 100vw;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.mainText {
  font-size: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // display: block;
  text-align: center;
}

.hide {
  background: rgb(112, 112, 112);
  color: white;

  @media screen and (max-width: 1170px) {
    display: none;
  }
}
